version: 2.1
jobs:
  test:
    docker:
      - image: cimg/go:1.13
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Test go packages
          command: dev-scripts/run-go-tests
      - run:
          name: Verify golang formatting
          command: dev-scripts/check-go-formatting
  deploy:
    docker:
      - image: google/cloud-sdk:351.0.0-slim
    environment:
      GCLOUD_PROJECT: dusty-vcr
      GO_RUNTIME: go113
      FUNCTION_NAME: ProxyRequest
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Retrieve client secret from CircleCI
          command: |
            echo "${CLIENT_SECRET}" | \
              base64 --decode > "${HOME}/client-secret.json"
      - run:
          name: Authenticate gcloud
          command: |
            gcloud auth activate-service-account \
              --key-file "${HOME}/client-secret.json"
      - run:
          name: Configure gcloud project
          command: gcloud config set project "${GCLOUD_PROJECT}"
      - run:
          name: Configure runtime environment variables
          command: |
            echo "TARGET_URL: '${TARGET_URL}'" >> .env.yaml
      - run:
          name: Deploy to AppEngine
          command: |
            gcloud functions deploy \
              "${FUNCTION_NAME}" \
              --runtime "${GO_RUNTIME}" \
              --env-vars-file .env.yaml \
              --source proxy \
              --trigger-http \
              --allow-unauthenticated
workflows:
  version: 2
  test-deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: master
